<% layout("layouts/boilerplate") %>
<body class="main-container">
  <div id="menu">
    <div id="filters">
      <a href="/listings/category/Trending">
        <div class="filter">
          <div>
            <i class="fa-solid fa-fire"></i>
          </div>
          <p>Trending</p>
        </div>
      </a>
      <a href="/listings/category/Rooms">
        <div class="filter">
          <div>
            <img src="/assets/bed.png" alt="" />
          </div>
          <p>Rooms</p>
        </div>
      </a>
      <a href="/listings/category/Farms">
        <div class="filter">
          <div>
            <img src="/assets/countryside.png" alt="" />
          </div>
          <p>Farms</p>
        </div>
      </a>
      <a href="/listings/category/Iconic">
        <div class="filter">
          <div>
            <img src="/assets/pisa.png" alt="" />
          </div>
          <p>Iconic cities</p>
        </div>
      </a>
      <a href="/listings/category/Mountains">
        <div class="filter">
          <div><i class="fa-solid fa-mountain-sun"></i></div>
          <p>Mountains</p>
        </div>
      </a>
      <a href="/listings/category/OMG!">
        <div class="filter">
          <div>
            <i class="fa-regular fa-face-surprise"></i>
          </div>
          <p>OMG!</p>
        </div>
      </a>
      <a href="/listings/category/Amazing">
        <div class="filter">
          <div>
            <i class="fa-solid fa-person-swimming"></i>
          </div>
          <p>Amazing pools!</p>
        </div>
      </a>
      <a href="/listings/category/Beach">
        <div class="filter">
          <div>
            <img src="/assets/chair.png" alt="" />
          </div>
          <p>Beach</p>
        </div>
      </a>
      <a href="/listings/category/Camping">
        <div class="filter">
          <div>
            <img src="/assets/tent-2.png" alt="" />
          </div>
          <p>Camping</p>
        </div>
      </a>
      <a href="/listings/category/Arctic">
        <div class="filter">
          <div>
            <img src="/assets/snowflake.png" alt="" />
          </div>
          <p>Arcitc</p>
        </div> </a
      ><a href="/listings/category/Arctic">
        <div class="filter">
          <div>
            <img src="/assets/AirBallon.png" alt="" />
          </div>
          <p>AirBallon</p>
        </div>
      </a>
      <a href="/listings/category/Arctic">
        <div class="filter">
          <div>
            <img src="/assets/boat.png" alt="" />
          </div>
          <p>Boats</p>
        </div>
      </a>
    </div>
    <div class="tax-button">
      <div class="form-check form-switch form-check-reverse">
        <input
          class="form-check-input"
          type="checkbox"
          id="switchCheckReverse"
        />
        <label class="form-check-label" for="switchCheckReverse">
          Display total after taxes
        </label>
      </div>
    </div>
  </div>
  <div
    class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-xsm-1 box-class"
  >
    <%for(let listing of data){%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
      <div class="card listing-card col">
        <img
          class="card-img-top"
          src="<%=listing.image.url%>"
          alt="listing_Image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h5 class="card-title"><%=listing.title%></h5>
          <p class="card-price">
            <div class="d-flex align-items-center">
              <img style="height: 20px;" src="/assets/dollar.png" alt="USD">
              <%=listing.price.toLocaleString("en-IN")%> / night &nbsp;&nbsp;&nbsp; 
              <i class="hide tax-info">+18% tax</i>
            </div>
          </p>
        </div>
      </div>
    </a>
    <%}%>
  </div>
  <script>
    let inputElement = document.getElementById("switchCheckReverse");
    let taxInfo = document.getElementsByClassName("tax-info");
    inputElement.addEventListener("click", () => {
      for (let element of taxInfo) {
        if (element.style.display != "inline-block") {
          element.style.display = "inline-block";
        } else {
          element.style.display = "none";
        }
      }
    });
  </script>
  <!-- <ul class="container">
    <%for(let listing of data){%>
    <li>
      <form action="/listings/<%=listing._id%>?_method=delete" method="post">
        <a href="/listings/<%=listing._id%>"><%=listing.title%></a>
        <button>Delete</button>
      </form>
    </li>
    <br />
    <br />
    <%}%>
  </ul> -->
</body>
