<%layout("../layouts/boilerplate.ejs") %>
<body>
  <h2>All Listings</h2>
  <div
    class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xsm-2 box-class"
  >
    <%for(let listing of data){%>
    <a href="/listings/<%=listing._id%>" class="listing-link">
      <div class="card listing-card col">
        <img
          class="card-img-top"
          src="<%=listing.image.url%>"
          alt="listing_Image"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <h5 class="card-title"><%=listing.title%></h5>
          <p class="card-price">
            &#8377; <%=listing.price.toLocaleString("en-IN")%> / night
          </p>
        </div>
      </div>
    </a>
    <%}%>
  </div>
  <!-- <ul class="container">
    <%for(let listing of data){%>
    <li>
      <form action="/listings/<%=listing._id%>?_method=delete" method="post">
        <a href="/listings/<%=listing._id%>"><%=listing.title%></a>
        <button>Delete</button>
      </form>
    </li>
    <br />
    <br />
    <%}%>
  </ul> -->
</body>
